.user1 {
    width: 100%;
    height: 70px;
    margin-bottom: 5px;
    /* border: 1px solid rgb(209, 209, 209); */
    border-radius: 5px;
    background-color: #F0F3F6;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    &:hover {
        background-color: #deeaf6;
    }
    &:focus {
        background-color: rgb(243, 193, 201);
    }


    .userPic {
        width: 40px;
        height: 40px;
        margin: 5px;
        /* border: 1px solid rgb(209, 209, 209); */
        border-radius: 50%;
    }

    .userPic img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
    }

    .userContainer {
        width: 50%;
        max-width: 50%;
        height: 55px;
        /* border: 1px solid rgb(209, 209, 209); */
        border-radius: 5%;
        background-color: inherit;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .userName {
            width: 100%;
            height: 30px;
            /* margin: 1px;
                padding: 2px; */
            /* border: 1px solid rgb(209, 209, 209); */
            border-radius: 5px;
            background-color: inherit;
            overflow: hidden;
            display: flex;
            flex-direction: row;
            align-items: center;

            p {
                font-weight: 500;
            }
        }

        .userTyping {
            width: 100%;
            height: 20px;
            /* margin: 1px;
                padding: 2px; */
            /* border: 1px solid rgb(209, 209, 209); */
            border-radius: 5px;
            background-color: inherit;
            overflow: hidden;
            display: flex;
            flex-direction: row;
            align-items: center;

            p {
                font-size: 70%;
                font-style: italic;
            }
        }
    }

    .lastMsgTimeContainer {
        width: 30%;
        height: 55px;
        /* margin: 1px; */
        padding: 5px;
        /* border: 1px solid rgb(209, 209, 209); */
        border-radius: 5px;
        background-color: inherit;
        /* overflow: hidden; */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .lastMsgTime {
            width: 100%;
            height: 30px;
            /* border: 1px solid rgb(209, 209, 209); */
            border-radius: 5px;
            background-color: inherit;
            display: flex;
            justify-content: left;
            /* flex-direction: row;*/
            align-items: center;

            p {
                font-size: 80%;
            }
        }

        .lastMsgTimeEmpty {
            width: 100%;
            height: 20px;
            /* border: 1px solid rgb(209, 209, 209); */
            border-radius: 5px;
            background-color: inherit;
            display: flex;
            flex-direction: row;
            align-items: center;
        }

    }

}