.menuContainer {
    width: 5%;
    /* height: 100%; */
    margin-right: 5px;
    padding: 5px;
    /* border: 1px solid rgb(209, 209, 209); */
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

.logo img {
    width: 100%;
    height: 60px;
    margin-bottom: 5px;
    /* border: 1px solid rgb(209, 209, 209); */
    border-radius: 10px;
    /* background-image: url(../../assets/chatlogominus.png); */
    background-repeat: no-repeat;
    /* background-size: contain; */
    object-fit: cover;
    justify-content: center;
    align-items: center;
}

.menus {
    width: 100%;
    height: 100%;
    /* border: 1px solid rgb(209, 209, 209); */
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .file1 {
        width: 40px;
        height: 40px;
        /* background-color: #E0F4F1; */
        /* margin-top: 10px; */
        margin-bottom: 20px;
        border: 1px solid rgb(209, 209, 209);
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .file2 {
        width: 40px;
        height: 40px;
        /* background-color: #E0F4F1; */
        /* margin-top: 10px; */
        margin-bottom: 20px;
        border: 1px solid rgb(209, 209, 209);
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .file3 {
        width: 40px;
        height: 40px;
        /* background-color: #E0F4F1; */
        /* margin-top: 10px; */
        margin-bottom: 20px;
        border: 1px solid rgb(209, 209, 209);
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .file4 {
        width: 40px;
        height: 40px;
        /* background-color: #E0F4F1; */
        /* margin-top: 10px; */
        margin-bottom: 20px;
        border: 1px solid rgb(209, 209, 209);
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}