.chatContainer {
    width: 70%;
    height: 100%;
    /* margin-top: 15px; */
    margin-bottom: 15px;
    padding: 10px;
    /* border: 1px solid rgb(209, 209, 209); */
    border-radius: 10px;
    background-color: #EDF0F5;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.chatSectionName {
    width: 100%;
    height: 60px;
    /* border-bottom: 1px solid rgb(209, 209, 209); */
    /* border-radius: 10px; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.chatSectionContent {
    width: 100%;
    height: 100%;
    /* border: 1px solid rgb(209, 209, 209); */
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    /* align-items: center; */

    .messageBox {
            width: 100%;
            height: 100%;
            /* border: 1px solid rgb(209, 209, 209); */
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            /* justify-content: center;    
            align-items: center; */
            overflow-y: scroll;
            scrollbar-width: none;
        }
    
        .inputSection {
            width: 97%;
            height: 50px;
            padding: 5px;
            border: 1px solid rgb(209, 209, 209);
            border-radius: 10px;
            background-color: #ffffff;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }

            .inputSection input {
                width: 80%;
                height: 100%;
                border: none;
                border-radius: 10px;
                font-size: 100%;
                border-color: inherit;
                outline: none;
            }

            .inputSection .send {
                        width: 45px;
                        height: 45px;
                        margin-right: 3px;
                        /* border: black 1px solid; */
                        border-radius: 10%;
                         
                        img {
                            width: 100%;
                            height: 100%;
                        }
            }
}




