@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,300;1,300&display=swap');

.App {
  margin: 0;
  padding: 0;
  /* background-color: white;
  display: flex;
  justify-content: space-between; */
  height: 100vh;
  width: 100vw;
}